<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbWB6h5g1Wh-S9P0AAOUpVf4N6IwgsZQY</string>
	<key>GCM_SENDER_ID</key>
	<string>406727123693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.meetup</string>
	<key>PROJECT_ID</key>
	<string>meetup-app-project-76774</string>
	<key>STORAGE_BUCKET</key>
	<string>meetup-app-project-76774.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406727123693:ios:6e8af250541fa7c72362e4</string>
</dict>
</plist>